
html, body {
width: 100%;
height: 100%;
margin: 0px;
border: 0;
background-color: Gray;
display: block;  /* No floating content on sides */
}
/* body { */
 
    /* background-color: Gray; */

/* } */

h1 {
    text-align: center; 
	font-size: 5.5em;
    font-family: cursive;
    text-shadow: 2px 2px 5px red;
    color: blue;
}

p.one {
    color: maroon;
	font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border: 3px solid black;
    border-radius: 12px;

}

.share {
   
    position: fixed; 
    border: 2px solid black;
    background-color: black;
    width: 100%;
    bottom: 0;
        
}

#testCanvas {
     position: absolute;
     margin: 50px;
     bottom: 0;
     right: 150px;
     border: 2px solid black;
     background-color: #f1f1f1;
}

#Pong {
    position: absolute;
    right: 300px;
    bottom: 305px;
    font-weight: bold;

 
}